<div class="container">
  <!-- Create Collaborator Form -->

  <div *ngIf="showAddColabForm" class="add-holiday-form">
    <div class="form-overlay"></div>
    <div class="form-container">
      <div class="box">
        <span class="close" (click)="showAddColabForm = false">&times;</span>
        <form (submit)="createNewItem(form.value)" #form="ngForm">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required ngModel>
          <br>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required ngModel>
          <br>
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" required ngModel>
          <br>
          <label for="postalCode">Postal Code:</label>
          <input type="text" id="postalCode" name="postalCode" required ngModel>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    </div>
</div>

<div class="container3">
  <button class="add-colab-btn" (click)="showAddColabForm = true">Add Colaborator</button>
  <div class="container2">
    <input type="text" class="search-bar" placeholder="Search collaborators by name" [(ngModel)]="searchTerm" (input)="searchCollaborators()">
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
<ng-toast></ng-toast>

<div class="half-page-container">
  <div class="top-half-container">
    <div *ngIf="filteredItems.length > 0" class="colaborators-list">
      <table>
        <!-- Table headers -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Options</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <!-- Loop through the data for the current page -->
          <tr *ngFor="let item of pagedItems" class="colaborator-item">
            <td class="colaborator-name">{{ item.name }}</td>
            <td class="colaborator-email">{{ item.email }}</td>
            <td>{{ item.street }}</td>
            <td>{{ item.postalCode }}</td>
            <td>
              <!-- Buttons for Holidays and Projects -->
              <button (click)="viewHolidays(item.id)" class="buttonHoliday">Holidays</button>
              <button (click)="viewProjects(item.id)" style="margin-left: 20px;" class="buttonProject">Projects</button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>


  <div class="bottom-half-container">
    <div *ngIf="showProjectDiv" class="ProjectDiv">
      <app-projeto  [id] = "id" (ProjetoLista)="viewProjects($event)"></app-projeto>
    </div>

    <div class="HolidayDiv">


    </div>


  </div>
</div>
